
.container {
    margin: 8%;
    font-family: 'Dosis', sans-serif
}

h1 {
    color:#306497;
    font-weight: 600;
    font-size: 50px;
}

h3 {
    color: #33495f;
    font-weight: 400;
}

p {
    font-weight:lighter;
    color:#98AFC7;
    font-size: larger;
}
