.header {
    text-align: center;
}

@media (min-width: 768px) {
    .description {
        text-align: center;
        margin-bottom: 80px;
        margin-right: 160px;
        margin-left: 160px;
    }
}

@media (max-width: 768px) {
    .header {
        font-size: 50px;
    }
    .description {
        margin-bottom: 40px;
        font-size: 14px;
    }
}