@media (min-width: 768px) {

    .logo {
        height:300px;
        margin-right:-175px;
        margin-top: 5px;
    }
    .tab {
        text-decoration: none !important;
        font-size: 19px;
        font-family: 'Fraunces', serif;
        color:#131729;
    }
    .stack {
        margin-left: auto; 
        margin-right: 0;
    }
    
    .hamburger {
        width: 0px;
    }
    .bm-burger-button {
        position: fixed;
        width: 0px
    }

}

@media (max-width: 768px) {
    .tab {
        text-decoration: none;
        font-size: 0px;
    }
    .logo {
        display: block;
        width: 45%;
        margin-right:auto;
        margin-left: auto;
        margin-top: -15px;
    }
    .stack {
        width: 0px;
    }

    .toolbar {
        display: -webkit-box !important;
    }

    /* Position and sizing of burger button */
    .bm-burger-button {
        position: fixed;
        width: 36px;
        height: 30px;
        right:25px;
        top: 30px;
    }
    
    /* Color/shape of burger icon bars */
    .bm-burger-bars {
        background: #131729;
    }
    
    /* Color/shape of burger icon bars on hover*/
    .bm-burger-bars-hover {
        background: #232a43;
    }
    
    /* Position and sizing of clickable cross button */
    .bm-cross-button {
        height: 24px;
        width: 24px;
    }
    
    /* Color/shape of close button cross */
    .bm-cross {
        background: #bdc3c7;
    }
    
    /*
    Sidebar wrapper styles
    Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
    */
    .bm-menu-wrap {
        position: fixed;
        height: 100%;
        top:0px
    }
    
    /* General sidebar styles */
    .bm-menu {
        background: #33495f;
        padding: 5em 3em 2em;
        font-size: 1.15em;
    }
    
    /* Morph shape necessary with bubble or elastic */
    .bm-morph-shape {
        fill: #373a47;
    }
    
    /* Wrapper for item list */
    .bm-item-list {
        color: #b8b7ad;
        padding: 0.8em;
    }
    
    /* Individual item */
    .bm-item {
        display: inline-block;
    }
    
    /* Styling of overlay */
    .bm-overlay {
        background: rgba(0, 0, 0, 0.3);
        top:-37px
    }

    .bm-item {
        display: inline-block;
    
        color: #959df7;
        margin-bottom: 20px;
        text-align: left;
        text-decoration: none;
        transition: color 0.2s;
        font-size: 24px;
        font-family: 'Fraunces', serif;
    }
    
    .bm-item:hover {
        color: #ffffff;
    }
}