.container {
    display: flex;
    justify-content: center;

}

@media (min-width: 768px) {
  .project-card {
    width:35vh;
    height:50vh ;
  }

  .project-action {
    position: absolute;
    margin-top: 35vh;
    width:30vh;
    height:9vh;
  }

  .project-name {
    width:30vh;
    height:9vh;
  }

  .project-title {
    font-size: 2.5vh !important;
  }

}

@media (max-width: 768px) {
  .project-card {
    width:27vh;
    height:40vh;
  }
  .image {
  }

  .project-action {
    position: absolute;
    margin-top: 30vh;
    width:225px;
    height:50px;
  }

  .project-name {
    width:225px;
    height:50px;
  }

}

.project-name {
  border-radius: 16px;
  display: flex; 
  flex-direction:column;
  justify-content: center;
}

.project-action {
  display: flex;
  border-radius: 16px;
  display: flex; 
  flex-direction:column;
  justify-content: center;
  
}

.project-title {
  font-family: 'Fraunces', serif;
  color:#3E536F;
  font-weight: 600;
}