.container {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
  .project-card {
    width:18vw;
    height:25vw ;
  }
  .image {
    width:30vw;
  }

  .project-action {
    position: absolute;
    margin-top: 18vw;
    width:16vw;
    height:4.5vw;
  }

  .project-name {
    width:16vw;
    height:4.5vw;
  }

  .project-title {
    font-size: 1.2vw !important;
  }

}

@media (max-width: 768px) {
  .project-card {
    width:60vw;
    height:85vw;
  }
  .image {
    width:60vw;
    height:85vw;
  }

  .project-action {
    position: absolute;
    margin-top: 30vh;
    width:225px;
    height:50px;
  }

  .project-name {
    width:225px;
    height:50px;
  }

}

.project-name {
  border-radius: 16px;
  display: flex; 
  flex-direction:column;
  justify-content: center;
}

.project-action {
  display: flex;
  border-radius: 16px;
  display: flex; 
  flex-direction:column;
  justify-content: center;
  
}

.project-title {
  font-family: 'Fraunces', serif;
  color:#3E536F;
  font-weight: 600;
}